
<div @ref="_calendarDivReference" id="@Id" @attributes="@ExtraAttributes"></div>

@* Pass 'this' instance as a cascading parameter to descendants in tree *@
<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>

<button @onclick="Refetch">Refetch</button>



