@inherits CalendarPageBase

@page "/interactive"

<h3>MonthView (Array Source)</h3>

<FullCalendar settings="@calendarSettings" />

@code {
    public CalendarSettings calendarSettings { get; set; }

    protected override void OnInitialized()
    {
        calendarSettings = new CalendarSettings()
        {
            Plugins = new[] { CalendarPluginTypes.DayGrid, CalendarPluginTypes.Interaction, CalendarPluginTypes.Bootstrap },
            InitialView = "dayGridTwoMonths",
            timeZone = "UTC",
            Editable = true,
            headerToolbar  = new CalendarHeader()
            {
                left = "title",
                center = "",
                right = "dayGridOneWeek,dayGridTwoWeeks,dayGridTwoMonths today prev,next"
            },
            themeSystem = "bootstrap",
            views = new Dictionary<string, CalendarViewDefinition>()
            {
                { "dayGridOneWeek", CalendarViewDefinition.DayGridWeeks(1,"One Week") },
                { "dayGridTwoWeeks", CalendarViewDefinition.DayGridWeeks(2,"Two Weeks") },
                { "dayGridTwoMonths", CalendarViewDefinition.DayGridMonths(2,"Two Months") },
            },
            events = GetRandomEvents(50).ToArray()
        };
    }



}
