@inherits CalendarPageBase

@page "/monthviewjson"

<h3>MonthView (JSON Feed Source)</h3>

<FullCalendar settings="@calendarSettings" />

@code {
    public CalendarSettings calendarSettings { get; set; }  = new CalendarSettings()
    {
        plugins = new[] { CalendarPluginTypes.DayGrid, CalendarPluginTypes.Interaction },
        defaultView = "dayGridWeek",
        timeZone = "UTC",
        eventSources = new List<CalendarSourceFeed>()
        {
            new CalendarSourceFeed() { url = "https://fullcalendar.io/demo-events.json", extraParams = new Dictionary<string, string>(){ { "custom","dummy"} } }
        }
    };
}
